.main{
    width:100%;
    height:100%;
}

.head{
    width:100%;
    height:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changa{
    font-size:11px;
    text-transform:uppercase;
    font-weight:bold;
    transition:all 350ms;
    transform:scale(1);
    position:relative;
}

.image{
    width:6%;
    height:6%;
    margin-top:50px;
    border-radius: 100%;
    border:blueviolet 4px solid;
    background-color: white;
}

.subhead{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subhead2{
    width:100%;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 70px 0px;
}

.button{
    width:25%;
    height:40%;
    background-color:blueviolet;
    border-radius:10px;
    color:white;
    margin-bottom:20px;
    cursor: pointer;
}

.footer{
    width:100%;
    height:350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:40px;
}

.card{
    width: 30%;
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button2{
    width:19%;
    height:40%;
    background-color:black;
    border-radius:10px;
    color:white;
    margin-bottom:20px;
    cursor: pointer;
    border:whitesmoke solid 2px;
}

.button2:hover{
    background-color: white;
    color: black;
}

.click{
    width:100%;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 20%;
    height:25%;
}

.div{
    width:70%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.div2{
    width:49%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: baseline;
}
.body{
    width:100%;
    height:1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.src image{
    width:30%;
    height:30%;
    object-fit: cover;
}

.im{
    width:100%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms{
    width:100%;
    height:100px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.ds{
    color: blueviolet;
}

.ds:hover{
    cursor:pointer;
}
 
.ds2{
    color: rgb(150, 145, 145);
}

::-webkit-scrollbar{
    width:7px;
}

::-webkit-scrollbar-track{
   background-color: rgb(233, 233, 233);
}

::-webkit-slider-thumb{
    width:50px;
    height:fit-content;
    background-color:black;
    border-color: black solid 3px;
}

::-webkit-slider-thumb:hover{
    background-color: black;
}

